<div class="container-fluid rounded shadow">
  <div class="row py-4 animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar institucion..."
            (keyup)="buscar(txtTermino.value.toUpperCase())"
            #txtTermino
          />
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="cargando"
    class="alert alert-info text-center mt-3 animated fadeIn faster"
  >
    <h4 class="alert-heading">Cargando</h4>
    <p>
      <i class="fas fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">Espere por favor</p>
  </div>

  <div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h6 class="title">Listado de procesos</h6>

          <div class="col-md-3 button"></div>

          <div class="table-responsive">
            <table *ngIf="!cargando && proceso.length > 0" class="table">
              <thead>
                <tr>
                  <th class="text-table">Fecha</th>
                  <th class="text-table3">Institucion</th>
                  <!--   <th class="text-table2">Codigo</th> -->
                  <th class="text-table">Presupuesto</th>
                  <!--         <th class="text-table2">Responsable</th> -->
                  <th class="text-table2">Estado</th>
                  <th class="text-table2">Aprobacion BI</th>
                  <th class="text-table">Acciones</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="
                    let proces of proceso
                      | paginate: { itemsPerPage: 5, currentPage: page }
                  "
                >
                  <td>{{ proces.entregacarpeta }}</td>
                  <td>{{ proces.institucion }}</td>
                  <!--  <td>{{ proces.codigo }}</td> -->
                  <td>{{ proces.presupuesto }}</td>
                  <!--   <td>{{ proces.usuarioId }}</td> -->

                  <!-- <td>{{FECHACITA|date:"yyyy-MM-dd"}}</td>   -->
                  <td>
                    <div [ngSwitch]="proces.ESTADO">
                      <div *ngSwitchCase="1" class="rounded shadow bg-creada">
                        Generado
                      </div>
                      <div *ngSwitchDefault>output2</div>
                    </div>
                    <!-- <span
                      *ngIf="proces.ESTADO == 1"
                      class="rounded shadow bg-pen"
                      >Generado
                    </span>

                    <span
                      *ngIf="proces.ESTADO == 2"
                      class="rounded shadow bg-pen"
                      >Enviado</span
                    > -->
                  </td>
                  <!-- <td>{{ proces.aprobar == null ?  '': proces.aprobar.ESTADOBI 
                    }}</td> -->
                  <td>
                    <div *ngIf="proces.aprobar">
                      <div [ngSwitch]="proces.aprobar.ESTADOBI">
                        <div
                          *ngSwitchCase="true"
                          class="rounded shadow bg-procesando"
                        >
                          RENTABLE
                        </div>
                        <div
                          *ngSwitchDefault
                          class="rounded shadow bg-pendiente"
                        >
                          NO RENTABLE
                        </div>

                        <!--   <div *ngSwitchDefault>NO existe aprobar</div> -->
                      </div>
                    </div>
                  </td>
                  <td class="text-nowrap">
                    <span>
                      <a [routerLink]="['/dashboard', 'compras', proces.id]">
                        <i class="bx bx-edit-alt bx-sm"></i>
                      </a>
                    </span>
                    <!--  <span (click)="EnvioCorreo(proces)">
                      <i class="bx bx-mail-send bx-sm"></i>
                    </span> -->

                    <span class="cursor" (click)="pdf2(proces)">
                      <i class="bx bxs-file-pdf bx-sm text-danger"></i>
                    </span>
                    <!-- data-target="#modal-default" -->
                    <span
                      class="cursor"
                      (click)="ObtnerById(proces)"
                      data-toggle="modal"
                      data-target="#modal-info"
                    >
                      <i class="bx bx-file bx-sm"></i>
                    </span>

                    <span
                      class="cursor"
                      (click)="aprobarProceso(proces)"
                      [ngClass]="{
                        'disabled-icon':
                          proces.aprobar != null &&
                          proces.aprobar.ESTADOBI == true
                      }"
                    >
                      <i class="bx bx-check-shield bx-sm"></i>
                    </span>

                    <span>
                      <a [routerLink]="['/dashboard', 'reactivos', proces.id]">
                        <i class="bx bxs-spreadsheet bx-sm"></i>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>

  <div class="modal fade" id="modal-info">
    <div class="modal-dialog">
      <div class="modal-content3">
        <div class="modal-header">
          <h4 class="modal-title">Solicitud de Equipos</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-">
          <div class="container-fluid rounded shadow">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <form autocomplete="off">
                    <div class="row">
                      <div class="form-group col-md-3">
                        <label for="" class="form-ItemName">Area</label>

                        <select
                          class="form-control"
                          formControlName=""
                          [class.is-invalid]=""
                        >
                          <option value="">--Seleccione--</option>
                          <option
                            *ngFor="let mod of listamodalidad"
                            [value]="mod.id"
                          >
                            {{ mod.NOMBRE }}
                          </option>
                          <!-- <option value="F">Femenino</option>
                          <option value="3">Otros</option> -->
                        </select>

                        <small *ngIf="" class="text-danger"
                          >Debe de escoger una opción
                        </small>
                      </div>
                      <div class="form-group col-md-3">
                        <label for="" class="form-ItemName">Equipos</label>

                        <select
                          class="form-control"
                          formControlName=""
                          [class.is-invalid]=""
                        >
                          <option value="">--Seleccione--</option>
                          <option
                            *ngFor="let mod of listamodalidad"
                            [value]="mod.id"
                          >
                            {{ mod.NOMBRE }}
                          </option>
                          <!-- <option value="F">Femenino</option>
                          <option value="3">Otros</option> -->
                        </select>

                        <small *ngIf="" class="text-danger"
                          >Debe de escoger una opción
                        </small>
                      </div>

                     <div class="form-group col-md-6">
                      <textarea name="" id="vertical"rows="5"></textarea>

                     </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-3">
                        <label class="form-ItemName">FECHA INSTALACIÓN</label>
                        <input
                          type="date"
                          class="form-control datetimepicker-input"
                          placeholder="Ingrese"
                        />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="" class="form-ItemName">Modalidad</label>

                        <select
                          class="form-control"
                          formControlName=""
                          [class.is-invalid]=""
                        >
                          <option value="">--Seleccione--</option>
                          <option
                            *ngFor="let mod of listamodalidad"
                            [value]="mod.id"
                          >
                            {{ mod.NOMBRE }}
                          </option>
                          <!-- <option value="F">Femenino</option>
                          <option value="3">Otros</option> -->
                        </select>

                        <small *ngIf="" class="text-danger"
                          >Debe de escoger una opción
                        </small>
                      </div>
                    </div>

                    <div class="form-group col-md-12">
                      <label for="">Observaciones</label>
                      <textarea
                        class="form-control textarea-mod"
                        rows="5"
                        placeholder="Enter ..."
                      ></textarea>
                    </div>

                    <div class="esboton">
                      <a class="btn btn-primary"> Guardar</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
