<div class="container-fluid rounded shadow">
  <div class="row py-4 animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input
            type="file"
            (change)="onFileSelected($event)"
            class="input-file"
          />

       <!--    <a (click)="toggleInputs()" class="btn btn-primary">Guardar</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h6 class="title">Lista de Productos</h6>

          <div class="col-md-3 button"></div>

          <div class="table-responsive">
            <form [formGroup]="stockForm" (ngSubmit)="guardar()" (ngSubmit)="onSubmit()">
              <div class="button">
                <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
            
                <button type="reset" class="btn btn-danger btn-sm">Cancelar</button>
              </div>
               <div class="form-group col-md-3">
                 <label for="">Guia</label>
                 <input
                   type="email"
                   class="form-control"
                   formControlName="guia"
                   [class.is-invalid]="guia"
                   [readOnly]="true"
                   placeholder="Ingrese guia.."
                 />
                 <small *ngIf="guia" class="text-danger"
                   >Ingrese un caracter</small
                 >
               </div>
              <div
                *ngIf="cargando"
                class="alert alert-info text-center mt-3 animated fadeIn faster"
              >
                <h4 class="alert-heading">Cargando</h4>
                <p>
                  <i class="fas fa-sync-alt fa-spin fa-2x"></i>
                </p>
                <p class="mb-0">Espere por favor</p>
              </div>
              <!--  <input
                          type="text" readonly="true"
                          class="form-control col-md-3"
                         
                          formControlName="guia"
                        /> -->
              <div *ngIf="!cargando" class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Referencia</th>
                      <th>Descripcion</th>

                      <th>Lote</th>
                      <th>F. caducidad</th>
                      <th>Cantidad</th>
                      <th>Cantidad Recibida</th>
                      <th>Fabricante</th>
                      <th>Registro Sanitario</th>
                      <!--   <th>Actions</th> -->
                    </tr>
                  </thead>

                  <tbody
                    formArrayName="productos"
                    [appDisabledIf]="!inputsBloqueados"
                  >
                    <tr
                      *ngFor="
                        let producto of stockForm.controls['productos']?.value
                          | paginate: { itemsPerPage: 10, currentPage: page };
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <td>{{ i + 1 }}</td>
                      <td>{{producto.referencia}}
                       <!--  <input
                          type="text"
                          class="form-control"
                          formControlName="referencia"
                        /> -->
                      </td>

                      <td>{{producto.descripcion}}
                        <!-- input
                          type="text"
                          class="form-control"
                          formControlName="descripcion"
                        /> -->
                      </td>
                      <td>{{producto.lote}}
                       <!--  <input
                          type="text"
                          class="form-control"
                          formControlName="lote"
                        />
                      </td> -->
                      <td>{{producto.caducidad}}
                       <!--  <input
                          type="text"
                          class="form-control"
                          formControlName="caducidad"
                        /> -->
                      </td>
                      <td>{{producto.cantidad}}
                       <!--  <input
                          type="number"
                          class="form-control"
                          formControlName="cantidad"
                        /> -->
                      </td>
                      
                      <td>
                        <barcode-scanner-livestream
                        type="code_128"
                        (valueChanges)="onValueChanges($event)"
                        (started)="(onStarted)"
                      ></barcode-scanner-livestream>
                      <div [hidden]="!barcodeValue">
                        {{ barcodeValue }}
                      </div>
                       <!--  <input
                          type="number"
                          class="form-control"
                          formControlName="cantidad_recibida"
                        /> -->
                      </td>
                      <td>{{producto.fabricante}}
                       <!--  <input
                          type="text"
                          class="form-control"
                          formControlName="fabricante"
                        /> -->
                      </td>
                      <td>{{producto.sanitario}}
                        <!-- <input
                          type="text"
                          class="form-control"
                          formControlName="sanitario"
                        /> -->
                      </td>
                       <td>
                        <i class='bx bx-comment-detail'  
                         (click)="comments(i)"></i>
                      </td> 
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls
                (pageChange)="page = $event"
                previousLabel="Anterior"
                nextLabel="Siguiente"
              ></pagination-controls>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-"></div>
    </div>
  </div>
</div>
 <hr />
<pre>
    Estado del formulario: {{ stockForm.valid }}
    <br>
    Status: {{ stockForm.status }}
    </pre>

<pre>

    {{ stockForm.value | json }}

    </pre
>
 