<div class="container-fluid rounded shadow">
  <div class="row py-4 animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar por nombre"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="col-md-3 button"></div>

          <div class="table-responsive">
            <div
              *ngIf="cargando"
              class="alert alert-info text-center mt-3 animated fadeIn faster"
            >
              <h4 class="alert-heading">Cargando</h4>
              <p>
                <i class="fas fa-sync-alt fa-spin fa-2x"></i>
              </p>
              <p class="mb-0">Espere por favor</p>
            </div>

            <div *ngIf="!cargando" class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nombre Equipo</th>
                    <th>Categoria</th>
                    <th>Marca</th>
                    <!--  <th>Modelo</th> -->
                    <th>Serie</th>

                    <th>Estado Equipo</th>
                    <th>Ubicacion</th>
                    <th>Estado</th>
                    <th>Actions</th>
                    <th>ACC</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="
                      let equipo of listaequipos
                        | paginate: { itemsPerPage: 10, currentPage: page }
                    "
                    class="table-row-not-expanded"
                  >
                    <!-- <td class="cell" (click)="equipo.isExpanded = !equipo.isExpanded"> -->
                    <td>{{ equipo.NOMBRE }}</td>
                    <td>{{ equipo.modelo.NOMBRE }}</td>
                    <td>{{ equipo.marca.NOMBRE }}</td>
                    <!--    <td>{{ equipo.MODELO_ID }}</td> -->
                    <td>{{ equipo.SERIE }}</td>
                    <!-- <td>
                      <ul>
                        <li *ngFor="let acc of equipo.acc">
                          Modelo ID: {{ acc.ACCMODELO_ID }}, Serie:
                          {{ acc.SERIE }}
                        </li>
                      </ul>
                    </td> -->

                    <td
                      [ngClass]="{
                        'alerta-disponible':
                          equipo.estado.NOMBRE == 'DISPONIBLE',
                        'alerta-reparacion':
                          equipo.estado.NOMBRE == 'REPARACION',
                        'alerta-obsoleto': equipo.estado.NOMBRE == 'OBSOLETO'
                      }"
                    >
                      {{ equipo.estado.NOMBRE }}
                    </td>
                    <td>{{ equipo.ubicacion.NOMBRE }}</td>
                    <td>
                      <div [ngSwitch]="equipo.ESTADO">
                        <div *ngSwitchCase="1">Activo</div>
                        <div *ngSwitchDefault>Inactivo</div>
                      </div>
                      <!--  <span
                        *ngIf="equipo.ESTADO == '1'"
                        class="rounded shadow bg-pen"
                        >Activo
                      </span> -->
                    </td>

                    <!-- <td>
                      <i
                        class="expandable-table-caret fas fa-caret-right fa-fw"
                      ></i>
                    </td> -->
                    <td>
                      <span class="cursor">
                        <a
                          [ngClass]="{ 'disabled-icon': equipo.ESTADO == '2' }"
                          [routerLink]="['/dashboard', 'equipo', equipo.id]"
                        >
                          <i
                            class="bx bxs-edit bx-sm"
                            data-toggle="modal"
                            data-target="#modal-info"
                          ></i> </a
                      ></span>
                      <span (click)="borrarequipo(equipo)" class="cursor">
                        <i class="bx bxs-trash bx-sm"></i
                      ></span>
                    </td>
                    <td>
                      <i
                        class="expandable-table-caret fas fa-caret-right fa-fw"
                        (click)="toggleExpand(equipo)"
                      ></i>
                    </td>
                  </tr>
                  <!--  <tr >
                    <td colspan="9">
                      <div class="p-0">
                        <table class="table table-hover">
                          <tbody>
                            <tr >
                              <td>Modelo ID: </td>
                              <td>Serie</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                 
                  </tr> -->
                </tbody>
              </table>
            </div>
            <pagination-controls
              (pageChange)="page = $event"
              previousLabel="Anterior"
              nextLabel="Siguiente"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
