<div class="container-fluid rounded shadow">
  <div class="row py-4 animated fadeIn fast">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form autocomplete="off" class="form-inline">
            <div class="form-group col-md-2">
              <label for="text " class="form-ItemName">Cédula</label>
              <input
                type="text"
                class="form-control"
                placeholder="Buscar numero de cédula ..."
                #IDENTIFICADOR
              />
            </div>

            <div class="form-group col-md-2">
              <label for="text " class="form-ItemName">Estado</label>

              <select class="form-control" #ESTADO>
                <option value="">--Seleccione--</option>
                <option value="1">Creada</option>
                <option value="2">Ingresada</option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <label for="text" class="form-ItemName">ORDEN</label>

              <!--   <select class="form-control" #SALA>
                                        <option value="">--Seleccione--</option>
                                        <option value="0">ANEXO</option>
                                        <option value="9">CONSULTA EXTERNA</option>
                                        <option value="4">CONTIGENCIA</option>
                                        <option value="1">HOSPITALIZACION</option>
                                        <option value="12">SOAT</option>
                                        <option value="3">UCI</option>
                                        <option value="3">URGENCIAS</option> 


                                    </select>-->
              <input
                type="text"
                class="form-control"
                placeholder="Buscar numero de HIST ..."
                #SALA
              />
            </div>

            <div class="form-group col-md-2">
              <label for="text" class="form-ItemName">Fecha</label>

              <div class="input-group date" id="reservationdate">
                <input
                  type="date"
                  class="form-control datetimepicker-input"
                  #FECHA
                  data-target="#reservationdate"
                />
              </div>
            </div>

            <div class="esboton">
              <span
                (click)="
                  buscar(
                    IDENTIFICADOR.value,
                    ESTADO.value,
                    SALA.value,
                    FECHA.value
                  )
                "
                class="cursor"
              >
                <i class="bx bx-search-alt-2 bx-md"></i>
              </span>
              <!--  <button type="submit" class="btn btn-primary"
                            (click)="buscar(IDENTIFICADOR.value, ESTADO.value,SALA.value,FECHA.value)">
                            CONSULTAR</button> -->
              <span (click)="pdf()" class="cursor">
                <i class="bx bxs-file-pdf bx-md text-danger"></i>
              </span>

              <!--   <button class="btn btn-danger" (click)="pdf()">
                            PDF</button> -->

              <span
                (click)="borrarFiltro(IDENTIFICADOR, ESTADO, SALA, FECHA)"
                class="cursor"
              >
                <i class="bx bx-filter-alt bx-md"></i>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf=""
    class="alert alert-info text-center mt-3 animated fadeIn faster"
  >
    <h4 class="alert-heading">Cargando</h4>
    <p>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">Espere por favor</p>
  </div>

  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h6 class="title">Listado de ordenes registrados</h6>

          <div class="col-md-3 button"></div>

          <!--  <div *ngIf="ordenes.length === 0" class="row py-2">
                        <div class="col-12">
                            <div class="alert alert-info" role="alert">
                                <h3 class="text-center"> No existe registros  </h3>
                            </div>
                        </div>
                    </div> -->

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Cédula</th>
                  <th class="text-table4">Pacientes</th>
                  <th class="text-table2">F. cita</th>
                  <th>HORA ORDEN</th>
                  <th class="text-table2"># HIS</th>
                  <th class=""># ORDEN</th>
                  <th class="text-table2"># INIFNITY</th>
                  <th class="text-table2">F. nacim</th>
                  <th class="text-table2">SALA</th>
                  <th class="text-table2">Estado</th>
                  <th class="text-table2">Acciones</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="
                    let orden of dataExterna
                      | paginate: { itemsPerPage: 8, currentPage: page }
                  "
                >
                  <td>{{ orden.DLCEDU }}</td>
                  <td>{{ orden.DLAPEL }}</td>
                  <td>{{ orden.FECHA }}</td>
                  <td>{{ orden.HORATOMA }}</td>
                  <td>{{ orden.DLHIST }}</td>
                  <td>{{ orden.DLNUOR }}</td>
                  <td class="w30">{{ orden.NUMEROORDEN }}</td>
                  <td>{{ orden.DLFECN }}</td>
                  <td>{{ orden.DLCPRO }}</td>
                  <td>
                    <span
                      *ngIf="orden.ESTADO == '1'"
                      class="rounded shadow bg-yellow"
                      >Creada</span
                    >
                    <span
                      *ngIf="orden.ESTADO == '2'"
                      class="rounded shadow bg-green"
                      >Ingresada</span
                    >
                    <span
                      *ngIf="orden.ESTADO == '0'"
                      class="rounded shadow bg-red"
                      >Borrado</span
                    >
                  </td>
                  <!-- <td>{{orden.FECHACITA|date:"yyyy-MM-dd"}}</td>   -->

                  <td class="text-nowrap">
                    &nbsp;
                    <a
                      [ngClass]="{ 'disabled-icon': orden.ESTADO != '1' }"
                      data-toggle="tooltip"
                      data-original-title="Borrar"
                      (click)="eliminarOrden(orden)"
                      class="cursor"
                    >
                      <i class="bx bxs-printer bx-sm"></i>
                    </a>
                    <span
                      [ngClass]="{ 'disabled-icon': orden.ESTADO != '2' }"
                      class="rounded shadow cursor"
                      (click)="pdf2(orden)"
                    >
                      <i class="bx bxs-file-pdf bx-sm text-danger"></i>
                    </span>

                    <span
                      [ngClass]="{ 'disabled-icon': orden.ESTADO != '1' }"
                      (click)="borrarOrden(orden)"
                      class="cursor"
                    >
                      <i class="bx bx-trash bx-sm text-danger"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>

  <div class="modal fade show" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">+ Cargar pruebas</h4>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            aria-label="Close"
          >
            Guardar
          </button>
        </div>
      </div>

      <div class="modal-footer justify-content-between">
        <!--    <button type="button" class="btn btn-default" data-dismiss="modal"></button> 
                    <button type="button" data-dismiss="modal" class="btn btn-primary">Guardar</button> -->
      </div>
    </div>
  </div>
</div>
