<div class="container-fluid rounded shadow">
          
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Actualizar producto</h3>
    </div>

    <form  
    autocomplete="off"
    [formGroup]="productoForm"
    novalidate
    (ngSubmit)="guardar()"
    id="productoForm"
    >
      <div class="card-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="">REFERENCIA</label>
            <input
              type="text"
              class="form-control"
              formControlName="REFERENCIA"
              placeholder="Ingrese referencia.."
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">DESCRIPCION</label>
            <input
              type="text"
              class="form-control"
              formControlName="NOMBRE"
              placeholder="Ingrese descrpcion ..."
            />
          </div>
        </div>

        <div class="row">
        <div class="form-group col-md-6">
          <label for="">CATEGORIA</label>
          <input
            type="text"
            class="form-control"
            formControlName="CATEGORIA"
            placeholder="Ingrese categoria .."
          />
        </div>
        <div class="form-group col-md-6">
          <label for="">UNIDAD</label>
          <input
            type="text"
            class="form-control"
            formControlName="UNIDAD"
            placeholder="Ingrese unidad .."
          />
        </div>
      </div>
        <div class="form-group col-md-6">
          <label for="">GENERACION</label>
          <input
            type="text"
            class="form-control"
            formControlName="GENERACION"
            placeholder="Ingrese generacion..."
          />
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>

</div>