/* 
@import "~font-awesome/css/font-awesome.css";
html,
body {
  height: 100%;
}

body {
  margin: 0;

  font-family: "Courier New", Courier, monospace, "Helvetica Neue", sans-serif;
}

.logout-link {
  text-decoration: none;
  color: #f00;
 
}

.logout-link:hover {
  color: #c00;

} */
