<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ totalAceptas }}</h3>

            <p>Ordenes Creadas</p>
          </div>
          <div class="icon">
            <i class="bx bx-receipt"></i>
          </div>
          <!--  <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ totalIngresada }}</h3>

            <p>Ordenes Ingresadas</p>
          </div>
          <div class="icon">
            <i class="bx bx-receipt"></i>
          </div>
          <!--      <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{ totalIngresadaTubo }}</h3>

            <p>Muestras recibidas</p>
          </div>
          <div class="icon">
            <i class="bx bx-test-tube"></i>
          </div>
          <!--   <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{ totalIngresadaRecahzoTubo }}</h3>

            <p>Muestras Rechazadas</p>
          </div>
          <div class="icon">
            <i class="bx bx-test-tube"></i>
          </div>
          <!--    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{ TotalEmergencia }}</h3>

            <p>Ordenes Emergencia</p>
          </div>
          <div class="icon">
            <!-- <i class='bx bx-receipt'></i> -->
            <i class="bx bx-plus-medical"></i>
          </div>
          <!--    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->

    <!-- /.row (main row) -->
  </div>
  <!-- /.container-fluid -->
</section>
